.footer {
	border: 1px solid black;
	padding: 3em 2em;
	font-size: 18px;
	color: white;
	margin-top: 50px;
	background: #C2DBA1;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.footer h4{
	font-size: 1.2em;
}